name: Automatic Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger deployment
        run: |
          curl -X POST http://5.135.59.63:3000/api/deploy/7e960a14584c5f787ff8289db1c39c08dc990fdbf128c0bd
